@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

body {
  background: white;
}

.rokye__navbar {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 23;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.rokye__navbar-logo h1 {
  color: #F25C05;
}
.rokye__navbar-logo span {
  color: #114040;
}
.rokye__navbar .outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rokye__navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.rokye__navbar-nav .item {
  color: #035941;
  margin-right: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rokye__navbar-nav .item__indicator {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background: #F25C05;
}
.rokye__navbar-nav .item.active {
  color: #F25C05;
}
.rokye__navbar-mobnav {
  z-index: 2;
  padding: 1rem;
  position: absolute;
  text-align: end;
  right: 2rem;
  background: rgba(255, 255, 255, 0.77);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.02);
  top: 4rem;
}
.rokye__navbar-mobnav .item {
  cursor: pointer;
  margin-bottom: 1rem;
}
.rokye__navbar-mobnav .item.active {
  color: #F25C05;
}
.rokye__navbar-mobnav .register {
  border: 4px;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: #F25C05;
  color: white;
  border: 1px solid #F25C05;
  border-radius: 3px;
}
.rokye__navbar-mobnav .register:hover {
  background: white;
  color: #F25C05;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.rokye__navbar-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rokye__navbar-tab h3 {
  z-index: 2;
  color: #114040;
  cursor: pointer;
}
.rokye__navbar-tab .sell {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F25C05;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  margin: 0 3rem;
}
.rokye__navbar-tab .sell h3 {
  margin-left: 0.4rem;
  color: white;
}
@media screen and (max-width: 650px) {
  .rokye__navbar-tab .sell {
    margin-right: 1rem;
  }
}
.rokye__navbar-tab .active {
  color: #F25C05 !important;
  border-bottom: 2px solid #F25C05;
}
@media screen and (max-width: 650px) {
  .rokye__navbar-tab h3 {
    display: none;
  }
}
.rokye__navbar-btn {
  border: 4px;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: #F25C05;
  color: white;
  border: 1px solid #F25C05;
  border-radius: 3px;
}
.rokye__navbar-btn:hover {
  background: white;
  color: #F25C05;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 1000px) {
  .rokye__navbar-nav {
    display: none;
  }
}
.rokye__navbar.sticky {
  transition: all 0.5s ease-in-out;
  padding: 0.8rem 1rem;
  box-shadow: 0px 0px 7px black;
  background: white;
  z-index: 2;
}
.rokye__card {
  box-shadow: 0 0 3rem rgba(17, 64, 64, 0.2);
  width: 20rem;
  border-radius: 0.7rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.rokye__card img {
  width: 100%;
  border-radius: 0.7rem;
}
.rokye__card-img {
  padding: 1rem 1rem 0 1rem;
}
.rokye__card .favorite {
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
}
.rokye__card .favorite svg {
  color: #114040;
}
.rokye__card-detail {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.rokye__card-detail h2 {
  color: #035941;
  font-family: "lora", sans-serif;
  font-weight: bolder;
  margin-bottom: 0.7rem;
}
.rokye__card-detail .additional {
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.rokye__card-detail .additional svg {
  color: #114040;
}
.rokye__card-detail .additional p {
  margin-left: 0.5rem;
}
.rokye__card-detail .additional__info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rokye__card-detail .additional__info .bed,
.rokye__card-detail .additional__info .bath {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rokye__card-detail .additional__info .bath {
  margin-left: 0.4rem;
}
.rokye__card-detail .additional__price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rokye__card-detail .additional__price svg {
  color: #F25C05;
}
.rokye__card-detail .additional__price p {
  margin-left: 0.2rem;
}
.rokye__card-detail .additional__price p span {
  color: #F25C05;
}
.rokye__card .info {
  padding: 0 0 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.rokye__card .info__city {
  color: gray;
}
.rokye__card .info__redirect {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(242, 92, 5, 0.3);
  color: #F25C05;
  border-bottom-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
}

.rokye__home {
  padding: 2rem;
}
.rokye__home-intro {
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.rokye__home-intro .text {
  width: 100%;
  color: #114040;
}
.rokye__home-intro .text h1 {
  line-height: 6rem;
  font-size: 6rem;
  font-family: "lora", sans-serif;
  font-weight: bolder;
}
.rokye__home-intro .text .mid {
  line-height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 8rem;
}
.rokye__home-intro .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.rokye__home-intro .img__inner {
  position: absolute;
  top: 4rem;
  right: 10rem;
}
@media screen and (max-width: 1000px) {
  .rokye__home-intro {
    margin-top: 3rem;
    flex-direction: column;
    padding: 0;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) {
  .rokye__home-intro .text h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1000px) {
  .rokye__home-intro .img {
    margin-top: 3rem;
  }
  .rokye__home-intro .img__inner {
    top: 0;
    right: 0;
  }
  .rokye__home-intro .img__inner img {
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .rokye__home-intro .img__inner {
    top: 0;
    right: 0;
  }
}
@media screen and (max-width: 1400px) and (max-width: 1250px) {
  .rokye__home-intro {
    padding: 2.5rem 0;
  }
}
@media screen and (max-width: 1400px) and (max-width: 1250px) and (min-width: 1000px) {
  .rokye__home-intro .text h1 {
    font-size: 4rem;
  }
  .rokye__home-intro .text .mid {
    font-size: 5rem;
  }
}
.rokye__home-searchbar {
  position: relative;
  padding: 0 10rem;
}
.rokye__home-searchbar__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  box-shadow: 0px 0px 10px black;
  background: white;
  border-radius: 16px;
}
.rokye__home-searchbar__tab .item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.rokye__home-searchbar__tab .item .outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.rokye__home-searchbar__tab .item svg {
  margin-top: 0.6rem;
  color: #f2ba52;
  color: #035941;
}
.rokye__home-searchbar__tab .item .title {
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.rokye__home-searchbar__tab .item .title h1 {
  color: #114040;
  font-family: "lora", sans-serif;
  font-weight: bolder;
}
.rokye__home-searchbar__tab .item .title svg {
  margin-top: 0;
  margin-left: 0.3rem;
  color: rgba(0, 0, 0, 0.4);
}
.rokye__home-searchbar__tab .item .title h3 {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rokye__home-searchbar__tab .item .menu {
  width: 12rem;
  height: 20rem;
  background: white;
  box-shadow: 0 0 5px black;
  position: absolute;
  overflow-y: scroll;
  margin-top: 5rem;
  border-radius: 0.5rem;
  z-index: 999;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.rokye__home-searchbar__tab .item .menu__item {
  cursor: pointer;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rokye__home-searchbar__tab .item .menu__item:hover {
  transition: 0.2s all ease-in-out;
  background: rgba(0, 0, 0, 0.1);
}
.rokye__home-searchbar__tab .item .menu::-webkit-scrollbar {
  width: 5px;
}
.rokye__home-searchbar__tab .item .menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.rokye__home-searchbar__tab .item .menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.rokye__home-searchbar__tab .item .menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.rokye__home-searchbar__tab .item .budget {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
.rokye__home-searchbar__tab .divider {
  width: 3px;
  border-radius: 1rem;
  height: 4rem;
  background: rgba(0, 0, 0, 0.2);
}
.rokye__home-searchbar__tab .search {
  cursor: pointer;
  padding: 1rem;
  background: #F25C05;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rokye__home-searchbar__tab .search h2 {
  margin-left: 1rem;
}
@media screen and (max-width: 1350px) {
  .rokye__home-searchbar {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 1140px) {
  .rokye__home-searchbar__tab {
    padding: 2rem;
  }
  .rokye__home-searchbar__tab h1 {
    font-size: 1.4rem;
  }
  .rokye__home-searchbar__tab .search {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .rokye__home-searchbar {
    padding: 0;
  }
}
@media screen and (max-width: 840px) {
  .rokye__home-searchbar .divider {
    width: 100%;
    height: 2px;
    margin: 1rem 0;
  }
  .rokye__home-searchbar__tab {
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
  }
  .rokye__home-searchbar__tab .search {
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .rokye__home-searchbar__tab .item {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .rokye__home-searchbar__tab .item svg {
    height: 2rem;
    width: 2rem;
  }
  .rokye__home-searchbar__tab .item .title {
    margin-left: 0;
  }
  .rokye__home-searchbar__tab .item .title svg {
    height: 1rem;
    width: 1rem;
  }
}
.rokye__home-choose {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 2rem;
  padding: 5rem 2rem;
}
.rokye__home-choose__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
}
.rokye__home-choose__title h1 {
  color: #035941;
  font-family: "lora", sans-serif;
  font-weight: bolder;
  font-weight: bolder;
}
.rokye__home-choose__title p {
  margin-top: 0.5rem;
}
.rokye__home-choose__detail {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rokye__home-choose__detail .item {
  margin-right: 2rem;
  padding: 2rem;
  height: 20rem;
  width: 20rem;
  background: whitesmoke;
  box-shadow: 0 0 1rem #e7e7e7;
  border-radius: 5px;
}
.rokye__home-choose__detail .item .icon {
  position: relative;
}
.rokye__home-choose__detail .item .icon__design {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: 2rem;
  border-radius: 10px;
  left: 0.7rem;
  top: -0.5rem;
  background: rgba(3, 89, 65, 0.3);
}
.rokye__home-choose__detail .item .icon svg {
  position: relative;
}
.rokye__home-choose__detail .detail {
  margin-top: 2rem;
}
.rokye__home-choose__detail .detail h2 {
  color: #035941;
  margin-bottom: 0.4rem;
}
@media screen and (max-width: 1500px) {
  .rokye__home-choose__detail {
    flex-wrap: wrap;
  }
  .rokye__home-choose__detail .item {
    margin-bottom: 3rem;
  }
  .rokye__home-choose .outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .rokye__home-choose {
    padding: 5rem 0;
  }
  .rokye__home-choose__title p {
    text-align: center;
  }
  .rokye__home-choose__detail {
    flex-direction: column;
  }
  .rokye__home-choose__detail .item {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
.rokye__home-recent {
  padding: 2rem;
}
.rokye__home-recent__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.rokye__home-recent__title h1 {
  color: #035941;
  font-family: "lora", sans-serif;
  font-weight: bolder;
  font-weight: bolder;
}
.rokye__home-recent__detail {
  margin-top: 3rem;
}/*# sourceMappingURL=index.css.map */