.rokye__plan {
  padding: 7rem;
  .upper {
    @include center__elem;
    justify-content: space-between;
  }
  &-info {
    width: 100%;
    .title {
      h1 {
        font-size: 2.4rem;
        color: $color1;
        @include heading-font;
      }
    }
    .content {
      margin-top: 2rem;
      //   padding: 1rem;
      @include center__elem;
      justify-content: flex-start;
      // justify-content: space-around;
      width: 100%;

      &__owner,
      &__tenant {
        padding: 2rem 0;
        @include center__elem;
        flex-direction: column;
        width: 25rem;
        @include card_shadow;

        .detail {
          @include center__elem;
          flex-direction: column;
          &__title {
            margin-top: 1rem;
            h1 {
              color: $color5;
              font-weight: bold;
            }
          }

          &__price {
            margin: 1rem 0;
            @include center__elem;

            h1 {
              color: $color2;
              font-weight: bold;
            }
          }

          &__point {
            .item {
              svg {
                color: $color2;
              }
              @include center__elem;
              justify-content: flex-start;
              margin: 1rem 0;
              p {
                color: gray;
                margin-left: 1rem;
              }
            }
          }
        }
      }
      &__tenant {
        margin-left: 2rem;
      }
    }
  }

  .lower {
    margin-top: 5rem;
  }

  &-work {
    .title {
      h1 {
        @include heading-font;
        color: $color1;
      }
    }
    .content {
      margin-top: 2rem;
      &__item {
        padding: 2rem;
        margin-bottom: 1rem;
        @include box_shadow;

        h3 {
          font-weight: 600;
          // color: $color1;
          margin-bottom: 0.5rem;
        }
        p {
          color: gray;
        }
      }
    }
  }
  @media screen and (max-width: 1600px) {
    padding: 7rem 5rem;
  }
  @media screen and (max-width: 1500px) {
    &-info {
      .content {
        justify-content: space-between;
      }
    }
    &-contact {
      margin-top: 3rem;
      .contact__btn {
        @include center__elem;
        .btn {
          @include center__elem;
          border-radius: 4px;
          color: $color4;
          padding: 0.5rem 1rem;
          width: 20rem;
          background: $color5;
        }
      }
    }
    .upper {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 980px) {
    padding: 7rem 1.5rem;

    &-info {
      .title {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 750px) {
    &-info {
      .content {
        flex-direction: column;

        &__tenant {
          margin-top: 2rem;
          margin-left: 0;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    font-size: 0.9rem;

    &-info {
      .title {
        h1 {
          font-size: 2rem;
        }
      }
      .content {
        &__tenant,
        &__owner {
          width: 100%;
        }
      }
    }
  }
}

.rokye__contact {
  padding: 7rem 10rem;

  .upper {
    @include center__elem;
    justify-content: space-between;
  }
  .title {
    h1 {
      @include heading-font;
      color: $color1;
      font-size: 3rem;
      span {
        color: $color5;
      }
    }
  }
  &-animate {
    width: 100%;
  }

  &-form {
    @include center__elem;
    justify-content: flex-end;
    width: 100%;
  }

  .lower {
    margin-top: 2rem;
    svg {
      color: $color5;
      font-size: 1.5rem;
    }

    @include center__elem;
    // flex-wrap: wrap;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: inherit;
    }
    .item {
      margin-top: 2rem;
      @include box_shadow;

      padding: 2rem;
      width: 20rem;
      @include center__elem;
      flex-direction: column;

      &__icon {
        padding: 1rem;
        @include center__elem;
        background: rgba($color: $color3, $alpha: 0.25);
        border-radius: 50%;
      }
      p {
        margin: 1rem 0 0.5rem;
        color: gray;
      }

      &:hover {
        transition: all 0.3s ease-in-out;
        @include card_shadow;
      }
    }
  }

  @media screen and (max-width: 1650px) {
    .lower {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      justify-items: center;
      align-content: center;
    }
  }

  @media screen and (max-width: 1500px) {
    padding: 7rem 5rem;
  }
  @media screen and (max-width: 1250px) {
    padding: 7rem 3rem;
  }
  @media screen and (max-width: 1000px) {
    .upper {
      flex-direction: column;
    }
    &-form {
      justify-content: center;

      .rokye__form {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 750px) {
    // font-size: .9rem;
    padding: 7rem 1rem;

    .rokye__form {
      width: 100%;
    }
    .title {
      h1 {
        font-size: 2.6rem;
      }
    }
    .upper,
    .lower {
      flex-direction: column;
    }
    .lower {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.rokye__faq {
  background: $color4;
  border: 2px solid $color1;
  margin: -4rem 5rem 5rem;
  position: relative;
  border-radius: 1rem;
  padding: 3rem;
  height: auto;


  &-img{
    img{
      width: 100%;
    }
  }
  &-title {
    text-align: center;

    
    h1 {
      @include heading-font;
      font-size: 3rem;
      color: $color1;
    }
  }
  .divider {
    height: 1px;
    background: gray;
    width: 100%;
    margin: 1rem 0;
  }
  &-tab {
    margin: 2rem 0;
    @include center__elem;
    justify-content: space-around;

    .item {
      padding: 0.5rem 1rem;
      // background: rgba($color: $color4, $alpha: 0.8);

      border-radius: 5px;
      color: rgba($color: $color5, $alpha: .75);

      @include box_shadow;
      border: 2px solid rgba($color: $color4, $alpha: 0.3);

      &.active {
        // background: $color4;
        color: $color5;
        @include card_shadow;
        border: 2px solid $color5;
      }
    }
  }

  &-content {
    margin-top: 2rem;
    color: $color1;
    svg{
      color: $color5 !important;
    }

    .item {
      transition: all 0.5s ease-in-out;
      margin: 1rem 0;
      &__upper {
        @include center__elem;
        justify-content: space-between;

        .quest {
          @include center__elem;

          .circle {
            border-radius: 50%;
            padding: 0.3rem;
            background: $color5;
            margin-right: 1rem;
          }
        }
      }

      &__ans {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: hidden;
        padding: 0 2rem;
        &.active {
          padding: 0 2rem;
          height: 8rem;
        }
      }
    }
  }

  @media screen and (max-width: 1250px) {
    margin: -4rem 2rem 5rem;
  }
  @media screen and (max-width: 650px) {
    font-size: 0.9rem;
    margin: -4rem 1rem 5rem;
    padding: 2rem 1rem;

    h1 {
      font-size: 2rem;
    }
    .circle {
      padding: 0.3rem !important;
    }
    &-tab {
      .item {
        padding: 0.5rem !important;
      }
    }
    &-content {
      h2 {
        font-size: 1rem;
      }
    }

    p {
      font-size: 0.8rem;
    }
  }
}

.rokye__refer {
  padding: 7rem 10rem;
  .upper {
    @include center__elem;
    justify-content: space-between;
  }
  &-animation {
    width: 100%;
  }
  .title{
    h1{
      @include center__elem;
      @include heading-font;

    }
    text-align: center;
    margin-bottom: 1rem;
    color: $color5;

    font-size: 1.2rem
  }
  &-form {

    
    @include center__elem;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  &-work {
    h1 {
      @include heading-font;
      color: $color1;
    }

    .content {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      &__item {
        padding: 2rem 1rem;
        border-radius: 5px;
        @include card_shadow;

        h2 {
          color: $color5;
          @include heading-font;
          font-size: 2rem;
        }
        h3 {
          margin: 0.4rem 0 1rem;
          font-weight: 600;
        }
        p {
          color: gray;
        }
      }
    }
  }

  &-faq {
    margin-top: 3rem;
    img {
      width: 100%;
      border-radius: 1rem;
    }
    
    .outer{
      @include center__elem;
      
    }
    .content {
      border-radius: 1rem;
      background: $color1;
      padding: 2rem 4rem;
      width: 60rem;
      color: $color4;
      margin-top: -5rem;

      .divider {
        height: 1px;
        background: gray;
        width: 100%;
        margin: .5rem 0;
      }

      &__title{
        text-align: center;
        h1{
          @include heading-font;
          font-size: 2.4rem;
        }
      }
      &__box{
        margin-top: 2rem;
      }
      .item {
        transition: all 0.5s ease-in-out;
        margin: 1rem 0;
        &__upper {
          @include center__elem;
          justify-content: space-between;

          .quest {
            @include center__elem;

            .circle {
              border-radius: 50%;
              padding: 0.4rem;
              background: $color3;
              margin-right: 1rem;
            }
          }
        }

        &__ans {
          position: relative;
          height: 0;
          overflow: hidden;
          transition: 0.5s;
          overflow-y: hidden;
          padding: 0 2rem;
          &.active {
            padding: 0 2rem;
            height: 5rem;
          }
        }
      }
    }
  }
  @media screen and (max-width:1550px) {
    padding: 7rem 5rem;
  }

  @media screen and (max-width:1200px) {
    padding: 7rem 2rem;
  }

  @media screen and (max-width:1000px) {
    .upper{
      flex-direction: column;

      .rokye__form{
        width: 100%;
      }
    }

    &-work{
      margin: 4rem 0;
    }
    &-work{
      .content{
        grid-template-columns: repeat(2,1fr);
      }
    }
    
    
  }
  
  @media screen and (max-width:650px) {
    padding: 7rem 1rem;
    &-work{
      .content{
        grid-template-columns: repeat(1,1fr);
      }
    }
    &-faq{
      .content{
        margin-top: 0;
        padding: 2rem;

        h1{
          font-size: 1.9rem;
        }
        font-size: .9rem;

        .item__ans{
          &.active{
            height: 6rem;
          }
        } 
      }
    }
  }
}
