.rokye__user {
  padding: 7rem 5rem;

  &-edit {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 34;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    .inner {
      position: absolute;
      background: white;
      @include card_shadow;
      top: 50%;
      width: 25rem;
      padding: 3rem 1rem;
      border-radius: 5px;
      transform: translate(-50%, -50%) !important;
      left: 50%;
      @include center__elem;
      flex-direction: column;
    }

    .close {
      top: 1rem;
      right: 1rem;
      color: $color5;
      position: absolute;
    }

    &__preview {
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    &__submit {
      margin-top: 1rem;
      color: #fff;
      background: $color5;
      border: 4px;

      padding: 0.5rem 2rem;
    }
  }

  &-title {
    @include center__elem;
    justify-content: space-between;

    .info {
      @include center__elem;
      // align-items: flex-start;
      &__icon {
        margin-right: 1rem;
      }

      .img{
        position: relative;
        img{
          width: 100%;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          
        }
        cursor: pointer;
  
        input {
          display: none;
        }
        .edit {
          position: absolute;
          bottom: 0.5rem;
          color: $color5;
          right: 0.5rem;
        }
      }
      .no__img {
        cursor: pointer;

        input {
          display: none;
        }
        position: relative;

        border-radius: 50%;

        .edit {
          position: absolute;
          bottom: 0.2rem;
          color: black;
          right: 0.3rem;
        }
      }

      h1 {
        color: $color1;
        @include heading-font;
      }
      p {
        color: gray;
      }
    }
    .logout {
      cursor: pointer;
      @include center__elem;
      h3 {
        margin-left: 0.5rem;
      }
      background: $color5;
      color: $color4;
      padding: 0.5rem 1rem;
      border-radius: 4px;
    }

    @media screen and (max-width:500px) {
      flex-direction: column;
      align-items: flex-start;

      .logout{
        margin-top: 1rem;
      }
    }
  }

  &-dashboard {
    @include box_shadow;
    padding: 2rem;
    margin-top: 2rem;

    .tab {
      @include center__elem;
      justify-content: flex-start;

      .item {
        @include card_shadow;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        @include center__elem;
        margin-right: 1rem;
        cursor: pointer;

        svg {
          font-size: 1.3rem;
          margin-right: 0.2rem;
          color: $color5;
        }

        &.active {
          border: 1.5px solid $color5;
        }
      }
    }

    .container {
      margin-top: 2rem;

      h1 {
        @include heading-font;
        color: $color1;
      }
    }
    &__personal {
      .content {
        @include center__elem;
        flex-direction: column;
        margin-top: 2rem;
        &__item {
          margin-bottom: 1rem;
          width: 100%;
          .upper {
            @include center__elem;
            justify-content: space-between;
            margin-bottom: 1rem;
          }

          p {
            color: gray;
          }
          svg {
            font-size: 1.3rem;
          }
          @include box_shadow;
          padding: 1rem;
          padding-bottom: 0;
        }
        &__input {
          position: relative;
          height: 0;
          overflow: hidden;
          transition: 0.5s;
          overflow-y: hidden;
          // // padding: 0 2rem;
          // display: none;

          input {
            width: 100%;
            font-size: 1rem;
            @include card_shadow;
            padding: 1rem;
            border-radius: 5px;
          }
          height: 5rem;
          
        }
        &__submit {
          cursor: pointer;
          margin-top: 2rem;
          @include center__elem;
          padding: 0.5rem 1rem;
          color: $color4;
          border-radius: 5px;
          width: 15rem;
          background-color: $color5;
        }
      }
    }
    &__listing {
      .content {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        justify-items: center;
      }
    }
    &__wishlist {
      .content {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        justify-items: center;
      }
    }

    @media screen and (max-width: 1550px) {
      &__listing,
      &__wishlist {
        .content {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
    @media screen and (max-width: 1150px) {
      &__listing,
      &__wishlist {
        .content {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
    @media screen and (max-width: 800px) {
      &__listing,
      &__wishlist {
        .content {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  @media screen and (max-width: 1250px) {
    padding: 7rem 2rem;
  }
  @media screen and (max-width: 800px) {
    padding: 7rem 1rem;
  }
  @media screen and (max-width: 570px) {
    font-size: 0.9rem;

    .tab {
      justify-content: center;
      flex-direction: column;
      grid-gap: 1rem;
      align-items: stretch;
    }
    &-dashboard {
      padding: 2rem 1rem;
    }
  }
}
