.rokye__home {
  padding: 2rem 0 0;
  &-intro {
    margin-top: 2rem;
    padding: 4rem 6rem;
    position: relative;
    height: 60vh;

    .blob1,
    .blob2 {
      position: absolute;
      height: 100px;
      width: 200px;
      border-radius: 150px 150px 0 0;
      // background-color: green;
    }
    .blob1 {
      top: 1rem;
      right: 1rem;
      transform: rotate(50deg);
      background: $color2;
    }
    .content {
      height: 50vh;
      @include center__elem;
      flex-direction: column;

      h1 {
        @include heading_font;
        font-size: 4rem;
        text-align: center;
        color: $color1;
      }
      h3 {
        text-align: center;
        font-size: 2rem;
      }
    }
    .blob2 {
      bottom: 0;
      left: 0;
      transform: rotate(-130deg);
      background: $color5;
    }

    @media screen and (max-width: 850px) {
      .content {
        h1 {
          font-size: 3rem;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
    }

    @media screen and (max-width: 750px) {
      .blob1,
      .blob2 {
        height: 5rem;
        width: 11rem;
      }
      .content {
        h1 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 1.3rem;
        }
      }
      .blob1 {
        right: 1rem;
        transform: rotate(39deg);
      }
      .blob2 {
        left: -1rem;
        transform: rotate(-141deg);
      }
    }

    @media screen and (max-width: 1000px) {
      padding: 4rem 2rem;
    }
  }

  // searchbar
  &-searchbar {
    position: relative;
    padding: 0 14rem 0 10rem;
    &__tab {
      @include center__elem;
      justify-content: space-between;
      padding: 1.5rem 3rem;
      box-shadow: 0px 0px 10px black;
      background: white;
      border-radius: 16px;

      .item {
        @include center__elem;
        align-items: flex-start;

        .outer {
          @include center__elem;
          flex-direction: column;
          align-items: flex-start;
        }

        svg {
          margin-top: 0.6rem;
          color: #f2ba52;
          color: $color2;
        }

        .title {
          cursor: pointer;
          margin-left: 1rem;
          @include center__elem;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          h1 {
            color: $color1;
            @include heading_font;
          }
          svg {
            margin-top: 0;
            margin-left: 0.3rem;
            color: rgba($color: #000000, $alpha: 0.4);
          }
          h3 {
            color: rgba($color: #000000, $alpha: 0.4);
            @include center__elem;
            text-align: center;
          }
        }

        .menu {
          width: 12rem;
          background: white;
          box-shadow: 0 0 5px black;
          position: absolute;
          overflow-y: scroll;

          margin-top: 5rem;
          border-radius: 0.5rem;
          z-index: 999;

          &__item {
            cursor: pointer;
            padding-bottom: 1rem;
            @include center__elem;
            flex-direction: column;

            &:hover {
              transition: 0.2s all ease-in-out;
              background: rgba($color: #000000, $alpha: 0.1);
            }
          }

          &::-webkit-scrollbar {
            width: 5px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          &.fixed {
            height: 15rem;
          }
        }
        .budget {
          height: 20rem;
          padding: 1rem;
          @include center__elem;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
      .divider {
        width: 3px;
        border-radius: 1rem;
        height: 4rem;
        background: rgba($color: #000000, $alpha: 0.2);
      }

      .search {
        cursor: pointer;
        padding: 1rem;
        background: $color5;
        @include center__elem;
        color: $color4;
        border-radius: 1rem;
        @include center__elem;

        h2 {
          margin-left: 1rem;
        }
      }
    }

    @media screen and (max-width: 1350px) {
      padding: 0 5rem;
    }

    @media screen and (max-width: 1140px) {
      &__tab {
        padding: 2rem;

        h1 {
          font-size: 1.4rem;
        }

        .search {
          padding: 0.5rem;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      padding: 0 2rem;
    }

    @media screen and (max-width: 840px) {
      .divider {
        // display: none;
        width: 100%;
        height: 2px;
        margin: 1rem 0;
      }
      &__tab {
        padding: 1.5rem 2rem;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 5px;

        .search {
          width: 100%;
          border-radius: 5px;
          margin-top: 1rem;
        }

        .item {
          width: 100%;
          flex-direction: row-reverse;
          justify-content: space-between;
          // margin-bottom: 1rem;

          svg {
            height: 2rem;
            width: 2rem;
          }
          .title {
            margin-left: 0;
            svg {
              height: 1rem;
              width: 1rem;
            }
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      .item {
        .title {
          h1 {
            font-size: 1.2rem;
          }
          h3 {
            font-size: 0.9rem;
          }
        }
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      .search {
        font-size: 0.9rem;
      }
    }
  }
  // why choose us

  &-choose {
    padding: 7rem 4rem;
    background: $color3;
    &__title {
      @include center__elem;
      flex-direction: column;

      font-size: 1.3rem;
      color: $color1;

      h1 {
        // color: $color4;
        @include heading_font;
        font-weight: bolder;
      }
      p {
        margin-top: 0.5rem;
      }
    }

    &__detail {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      width: 100%;
      align-content: space-between;

      .item {
        @include center__elem;
        flex-direction: column;
        margin-right: 2rem;
        border-radius: 5px;

        img {
          border-radius: 1rem;
        }

        .img0 {
          transform: rotate(-15deg);
        }
        .img1 {
          transform: rotate(10deg);
        }
        .img2 {
          transform: rotate(-15deg);
        }
        .img3 {
          transform: rotate(10deg);
        }

        .icon {
          position: relative;
          &__design {
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            border: 2rem;
            border-radius: 10px;
            left: 0.7rem;
            top: -0.5rem;
            background: rgba($color: $color2, $alpha: 0.3);
          }
          svg {
            position: relative;
          }
        }
      }

      .detail {
        margin-top: 3rem;

        h2 {
          font-size: 1.7rem;
          @include heading_font;
          color: $color2;
          margin-bottom: 0.4rem;
        }
      }
    }

    @media screen and (max-width: 1400px) {
      &__detail {
        grid-template-columns: repeat(2, 1fr);

        grid-gap: 2rem;
        .item {
          .img0 {
            transform: rotate(0deg);
          }
          .img1 {
            transform: rotate(0deg);
          }
          .img2 {
            transform: rotate(0deg);
          }
          .img3 {
            transform: rotate(0deg);
          }
        }

        .detail{
          margin: 1rem;
        }
      }
    }

    @media screen and (max-width: 1500px) {
      &__detail {
        flex-wrap: wrap;

        .item {
          margin-bottom: 3rem;
        }
      }
      .outer {
        @include center__elem;
        flex-direction: column;
      }
    }
    @media screen and (max-width: 850px) {
      padding: 5rem 2rem;

      &__title {
        p {
          text-align: center;
        }
      }
      &__detail {
        flex-direction: column;

        .item {
          width: 100%;
          height: auto;
          margin-right: 0;
          margin-bottom: 1.5rem;
        }
      }
    }

    @media screen and (max-width:660px) {
      &__detail{
        grid-template-columns: repeat(1,1fr);
        
      }
    }

    @media screen and (max-width: 600px) {
      &__title {
        font-size: 1.1rem;
      }
      .item {
        font-size: 0.9rem;
      }
    }
  }

  // recently

  &-recent {
    margin-top: 3rem;
    padding: 2rem 4rem;
    &__title {
      padding: 1rem 2rem;
      @include center__elem;
      font-size: 1.3rem;
      justify-content: space-between;

      h1 {
        color: $color2;
        @include heading_font;
        font-weight: bolder;
      }
      h3 {
        cursor: pointer;
        text-decoration: underline;
        color: $color5;
      }
    }
    &__detail {
      margin-top: 2rem;
    }

    .swiper {
      padding: 1rem !important;
    }
    &__navigate {
      margin-top: 2rem;
      @include center__elem;

      .prev__btn {
        color: gray;
      }
      .next__btn {
        color: $color2;

        margin-left: 2rem;
      }
    }

    @media screen and (max-width: 820px) {
      padding: 2rem;
      &__title {
        padding: 1rem 0;
        font-size: 1rem;
      }
      .item {
        font-size: 0.9rem;
      }
    }

    @media screen and (max-width: 750px) {
      .swiper {
        padding: 1rem 4rem !important;
      }

      @media screen and (max-width: 510px) {
        .swiper {
          padding: 1rem 2rem !important;
        }
      }
      @media screen and (max-width: 430px) {
        .swiper {
          padding: 1rem 0 !important;
        }
      }
    }
    @media screen and (max-width: 500px) {
      padding: 1rem;

      .swiper {
        padding: 1rem 0;
      }
    }
  }

  // reviews
  &-review {
    padding: 5rem 4rem;
    &__title {
      @include center__elem;
      font-size: 1.3rem;
      flex-direction: column;

      h1 {
        color: $color2;
        @include heading_font;
        font-weight: bolder;
      }
      p {
        text-align: center;
      }
    }

    &__detail {
      margin-top: 3rem;
      padding: 0 5rem;
    }
    .swiper {
      padding: 2rem 0;
    }
    .active {
      transition: all 0.5s ease-in-out;
      box-shadow: 0 10px 2rem #d5d5d5;
    }
    .review__card {
      padding: 1rem;
      width: 23rem;
      @include center__elem;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 1rem;
      &-img {
        position: relative;
        img {
          border-radius: 50% !important;
        }
        .comma {
          position: absolute;
          background: white;
          box-shadow: 0 5px 5px #d5d5d5;
          border-radius: 5px;
          bottom: 0;
          right: 0.6rem;
          padding: 0.4rem;

          @include center__elem;
          span {
            font-size: 2rem;
          }
        }
      }

      &-detail {
        p {
          margin: 2rem 0;
          color: gray;

          font-size: 1.02rem;
        }

        .person {
          font-size: 1.2rem;
          h3 {
            color: $color1;
            @include heading_font;
            margin-bottom: 0.3rem;
          }
          p {
            margin: 0;
          }
        }
      }
    }
    &__navigate {
      margin-top: 2rem;
      @include center__elem;

      .prev__btn-review {
        color: gray;
      }
      .next__btn-review {
        color: $color2;

        margin-left: 2rem;
      }
    }

    @media screen and (max-width: 1000px) {
      &__detail {
        padding: 0;
      }
    }
    @media screen and (min-width: 1300px) and (max-width: 1400px) {
      &__detail {
        padding: 0 2rem;
      }
    }
    @media screen and (max-width: 850px) {
      .review__card {
        width: 19rem;
      }
    }
    @media screen and (max-width: 600px) {
      &__title {
        font-size: 1.1rem;
      }
      .item {
        font-size: 0.9rem;
      }
    }
  }

  .cover__message {
    @include center__elem;

    @media screen and (max-width:1150px) {
      padding:0 2rem;
    }
  }
  &-message {
    @include center__elem;
    width: 70rem;
    // margin: 0 5rem;
    box-shadow: 0px 5px 10px #d5d5d5;
    justify-content: space-between;
    padding: 4rem;
    border-radius: 1rem;
    background: $color4;
    background-color: white;
    margin-bottom: -4rem;
    position: relative;

    .info {
      color: $color1;
      h1 {
        @include heading_font;
        font-size: 3rem;
      }

      p {
        font-size: 1.2rem;
        color: $color2;
      }
    }

    .contact {
      cursor: pointer;
      background: $color5;
      color: $color4;
      border-radius: 5px;
      padding: 1rem 4rem;
    }

    @media screen and (max-width: 1200px) {
      margin-bottom: -5rem;
    }
    @media screen and (max-width: 980px) {
      padding: 4rem 2rem;
      .info {
        h1 {
          font-size: 2.5rem;
        }
      }
    }

    @media screen and (max-width: 850px) {
      .info {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
    @media screen and (max-width: 750px) {
      flex-direction: column;
      padding: 2rem;
      margin-bottom: -5rem;

      .info {
        @include center__elem;
        flex-direction: column;
      }
      .contact {
        margin-top: 2rem;
      }
    }

    @media screen and (max-width: 500px) {
      padding: 2rem 1rem;
      .info {
        h1 {
          font-size: 1.9rem;
          text-align: center;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

body {
  user-select: none;
}
