.rokye__property {
  padding: 5rem 10rem;

  @include center__elem;
  justify-content: space-between;
  align-items: flex-start;

  &-filter {
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgb(31 27 45 / 8%),
      0 0.25rem 0.75rem rgb(31 27 45 / 8%);
    padding: 1rem;
    width: 25rem;
    
    .modal__cancel{
      display: none;
    }
    .filter {
      padding: 1rem;
      @include center__elem;
      justify-content: space-between;
      border-radius: 5px;

      &__item {
        background: $color4;
        box-shadow: 0 0.125rem 0.125rem -0.125rem rgb(31 27 45 / 8%),
          0 0.25rem 0.75rem rgb(31 27 45 / 8%);
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        @include center__elem;
        color: $color1;
        cursor: pointer;

        p {
          margin-left: 0.5rem;
        }
        &:first-child {
          margin-right: 1rem;
        }

        &.active {
          transition: all 0.1s ease-in-out;
          background: white;
          color: $color5;
        }
      }
    }

    .lower {
      transition: all 0.5s ease-in-out;
      padding: 1rem;
      .more {
        @include center__elem;
        color: $color5;
        padding: 0 3rem;
        cursor: pointer;
        text-align: center;
        align-items: center;

        h3 {
          padding: 0 0.5rem;
        }
      }

      &__item {
        cursor: pointer;
        margin-bottom: 0.6rem;
        position: relative;
        .name {
          box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
          padding: 1rem;
          @include center__elem;
          justify-content: space-between;

          h4 {
            color: $color1;
          }
          p {
            color: gray;
            @include center__elem;
            align-items: flex-end;
            justify-content: flex-end;

            &.budget__p {
              align-items: center;
            }
          }
        }

        .option {
          position: absolute;
          width: 100%;
          background: white;
          z-index: 2;
          box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
          height: 10rem;
          overflow-y: scroll;
          &__item {
            padding: 1rem;

            &:hover {
              transition: all 0.5s ease-in-out;
              background: rgb(198, 198, 198);
            }
          }
          @include custom__track;
        }

        .budget__option {
          background: white;
          @include center__elem;
          width: 100%;
          position: absolute;
          z-index: 2;
          justify-content: space-between;
          flex-direction: column;
          box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);

          &-container {
            width: 100%;
            height: 15rem;
            overflow-y: scroll;
            padding: 0 1rem;
            @include center__elem;
            justify-content: space-between;

            .left,
            .right {
              width: 100%;
              &__item {
                padding: 1rem;
                &:hover {
                  transition: all 0.5s ease-in-out;
                  background: rgb(198, 198, 198);
                }
              }
            }
            .right {
              @include center__elem;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-end;
            }
            @include custom__track;
          }
        }
      }
    }
    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
      color: $color5;
    }
    .Mui-focused {
      color: $color5;
    }
    // .MuiOutlinedInput-notchedOutline{
    //   border-color: $color5
    // }
    .preferred {
      padding: 1rem;

      &__amenities {
        padding: 1rem 0;

        .list {
          margin-bottom: 1rem;
        }
        .list {
          height: 14rem;
          overflow-y: scroll;
          @include center__elem;
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem 0;

          &__item {
            @include center__elem;
          }

          @include custom__track;
        }
      }
    }
    .property__search {
      .btn {
        color: $color4;
        padding: 0.6rem 1rem;
        margin: 0 1rem;
        border-radius: 5px;
        @include center__elem;
        background: $color5;
        h3 {
          margin-left: 0.5rem;
        }
      }
    }
  }

  &-grid {
    @include center__elem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 57vw;
    // height: 100vh;

    &__title {
      
      width: 100%;
      .title{
        h1 {
          @include heading_font;
          color: $color1;
          font-size: 2rem;
        }
        
        @include center__elem;
        justify-content: space-between;

        .mob__filter-btn{
          background: $color5;
          @include center__elem;
          display: none;
          padding: .5rem 1rem;
          border-radius: 3px;
          font-size: 1.1rem;
          color: white;
          cursor: pointer;
          p{
            margin-left: .4rem;
          }
        }
      }

      .sort {
        margin-top: 2rem;
        @include center__elem;
        justify-content: space-between;
        p {
          @include center__elem;
        }

        span {
          margin-left: 0.5rem;
        }
        color: gray;

        &__option {
          width: 30rem;
          @include center__elem;
          .title {
            margin-left: 1rem;
            @include center__elem;
            justify-content: space-between;
            width: 8rem;

            cursor: pointer;
            box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
            border-radius: 5px;
            padding: 0.4rem 0 0.4rem 0.7rem;
            svg {
              font-size: 2rem;
            }
          }
          position: relative;
          .option {
            z-index: 23;
            top: 3rem;
            right: -2rem;
            position: absolute;
            box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
            @include center__elem;

            flex-direction: column;
            align-items: flex-start;
            width: 10rem;
            background: white;
            border-radius: 5px;
            &__item {
              text-align: start;
              cursor: pointer;
              width: 100%;
              padding: 0.7rem 1rem;

              p{
                display: block;
              }

              &:hover {
                transition: all 0.5s ease-in-out;
                background: rgb(198, 198, 198);
              }
            }
          }
        }
        .line {
          height: 0.1rem;
          padding: 0 2rem;
          background: rgb(188, 188, 188);
          width: 100%;
        }
        .result {
          width: 11rem;
          @include center__elem;
          svg {
            font-size: 1.3rem;
          }
          p {
            margin-left: 0.2rem;
          }
        }
      }
    }

    &__content {
      .card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 0;
        grid-gap: 4rem;
      }
    }
  }

  @media screen and (max-width: 1650px) {
    padding: 5rem 3rem;

    &-grid {
      width: 70vw;
    }

    .card {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-content: center;
    }
  }
  // mobile filter modal
  

  @media screen and  (max-width:1275px)  {
    padding: 5rem 1rem;  
  }
  @media screen and (max-width: 1100px) {
    flex-direction: column;

    &-grid {
      width: 100%;


      .mob__filter-btn{
        display: flex !important;
      }

      &__content {
        width: 100%;
        .card {
          grid-gap: 2rem;
        }
      }
    }
  }
  @media screen and (max-width: 840px) {
    padding: 6rem 1rem;

    &-grid{
      .line{
        width: 80% !important;

      }
      @media screen and (max-width:666px) {
        .line{
          display: none;

        }
        .sort__option{
          width: auto !important;
          
        }
        .result{
          width: auto !important;
        }
        
      }
    }
  }
  @media screen and (max-width:720px) {
    &-grid{
        .card{
          grid-template-columns: repeat(1,1fr);
        }
    }
  }
  @media screen and (max-width: 500px) {
    padding: 5rem 1rem;
    flex-direction: column;

    &-filter {
      // width: 100%;
    }

    &-grid {
      margin-top: 2rem;
      width: 100%;

      .title{
        h1{
          font-size: 1.8rem;
        }
      }

      .line {
        width: auto !important;
      }

      &__content {
        .card {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}


.filter__modal{
  position:fixed;
  top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)!important;

  width: 100%;
  @include center__elem;
  height: 100vh;
  z-index: 34;
  backdrop-filter: blur(3px);
  
  
  .rokye__property-filter{
    border-radius: 5px;
    .modal__cancel{
      @include center__elem;
      justify-content: flex-end;
      
    }
    
    position: relative;
    background-color: white;
    box-shadow: 0 0 1rem black;
    
    z-index: 400;
  }
}