.rokye__property {
  padding: 5rem 10rem;

  @include center__elem;
  justify-content: space-between;
  align-items: flex-start;

  &-filter {
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgb(31 27 45 / 8%),
      0 0.25rem 0.75rem rgb(31 27 45 / 8%);
    padding: 1rem;
    width: 25rem;
    user-select: none;

    .modal__cancel {
      display: none;
    }
    .filter {
      padding: 1rem;
      @include center__elem;
      justify-content: space-between;
      border-radius: 5px;

      &__item {
        background: $color4;
        box-shadow: 0 0.125rem 0.125rem -0.125rem rgb(31 27 45 / 8%),
          0 0.25rem 0.75rem rgb(31 27 45 / 8%);
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        @include center__elem;
        color: $color1;
        cursor: pointer;

        p {
          margin-left: 0.5rem;
        }
        &:first-child {
          margin-right: 1rem;
        }

        &.active {
          transition: all 0.1s ease-in-out;
          background: white;
          color: $color5;
        }
      }
    }

    .lower {
      transition: all 0.5s ease-in-out;
      padding: 1rem;
      .more {
        @include center__elem;
        color: $color5;
        padding: 0 3rem;
        cursor: pointer;
        text-align: center;
        align-items: center;

        h3 {
          padding: 0 0.5rem;
        }
      }

      &__item {
        cursor: pointer;
        margin-bottom: 0.6rem;
        position: relative;
        .name {
          box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
          padding: 1rem;
          @include center__elem;
          justify-content: space-between;

          h4 {
            color: $color1;
          }
          p {
            color: gray;
            @include center__elem;
            align-items: flex-end;
            justify-content: flex-end;

            &.budget__p {
              align-items: center;
            }
          }
        }

        .option {
          position: absolute;
          width: 100%;
          background: white;
          z-index: 2;
          box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
          height: 10rem;
          overflow-y: scroll;
          &__item {
            padding: 1rem;

            &:hover {
              transition: all 0.5s ease-in-out;
              background: rgb(198, 198, 198);
            }
          }
          @include custom__track;
        }

        .budget__option {
          background: white;
          @include center__elem;
          width: 100%;
          position: absolute;
          z-index: 2;
          justify-content: space-between;
          flex-direction: column;
          box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);

          &-container {
            width: 100%;
            height: 15rem;
            overflow-y: scroll;
            padding: 0 1rem;
            @include center__elem;
            justify-content: space-between;

            .left,
            .right {
              width: 100%;
              &__item {
                padding: 1rem;
                &:hover {
                  transition: all 0.5s ease-in-out;
                  background: rgb(198, 198, 198);
                }
              }
            }
            .right {
              @include center__elem;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-end;
            }
            @include custom__track;
          }
        }
      }
    }
    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
      color: $color5;
    }
    .Mui-focused {
      color: $color5;
    }
    
    .preferred {
      padding: 1rem;

      &__amenities {
        padding: 1rem 0;

        .list {
          margin-bottom: 1rem;
        }
        .title {
          margin-bottom: 1rem;
        }
        .list {
          height: 14rem;
          overflow-y: scroll;

          &__item {
            @include center__elem;
            justify-content: flex-start;
          }

          @include custom__track;
        }
      }
    }
    .property__search {
      .btn {
        color: $color4;
        padding: 0.6rem 1rem;
        margin: 0 1rem;
        border-radius: 5px;
        @include center__elem;
        background: $color5;
        h3 {
          margin-left: 0.5rem;
        }
      }
    }
  }

  &-grid {
    @include center__elem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 57vw;
    // height: 100vh;

    &__title {
      width: 100%;
      .title {
        h1 {
          @include heading_font;
          color: $color1;
          font-size: 2rem;
        }

        @include center__elem;
        justify-content: space-between;

        .mob__filter-btn {
          background: $color5;
          @include center__elem;
          display: none;
          padding: 0.5rem 1rem;
          border-radius: 3px;
          font-size: 1.1rem;
          color: white;
          cursor: pointer;
          p {
            margin-left: 0.4rem;
          }
        }
      }

      .sort {
        margin-top: 2rem;
        @include center__elem;
        justify-content: space-between;
        p {
          @include center__elem;
        }

        span {
          margin-left: 0.5rem;
        }
        color: gray;

        &__option {
          width: 30rem;
          @include center__elem;
          .title {
            margin-left: 1rem;
            @include center__elem;
            justify-content: space-between;
            width: 8rem;

            cursor: pointer;
            box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
            border-radius: 5px;
            padding: 0.4rem 0 0.4rem 0.7rem;
            svg {
              font-size: 2rem;
            }
          }
          position: relative;
          .option {
            z-index: 23;
            top: 3rem;
            right: -2rem;
            position: absolute;
            box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
            @include center__elem;

            flex-direction: column;
            align-items: flex-start;
            width: 10rem;
            background: white;
            border-radius: 5px;
            &__item {
              text-align: start;
              cursor: pointer;
              width: 100%;
              padding: 0.7rem 1rem;

              p {
                display: block;
              }

              &:hover {
                transition: all 0.5s ease-in-out;
                background: rgb(198, 198, 198);
              }
            }
          }
        }
        .line {
          height: 0.1rem;
          padding: 0 2rem;
          background: rgb(188, 188, 188);
          width: 100%;
        }
        .result {
          width: 11rem;
          @include center__elem;
          svg {
            font-size: 1.3rem;
          }
          p {
            margin-left: 0.2rem;
          }
        }
      }
    }

    &__content {
      .card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 0;
        grid-gap: 4rem;
      }
    }
  }

  @media screen and (max-width: 1650px) {
    padding: 5rem 3rem;

    &-grid {
      width: 70vw;
    }

    .card {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-content: center;
    }
  }
  // mobile filter modal

  @media screen and (max-width: 1275px) {
    padding: 5rem 1rem;
  }
  @media screen and (max-width: 1100px) {
    flex-direction: column;

    &-grid {
      width: 100%;

      .mob__filter-btn {
        display: flex !important;
      }

      &__content {
        width: 100%;
        .card {
          grid-gap: 2rem;
        }
      }
    }
  }
  @media screen and (max-width: 840px) {
    padding: 6rem 1rem;

    &-grid {
      .line {
        width: 80% !important;
      }
      @media screen and (max-width: 666px) {
        .line {
          display: none;
        }
        .sort__option {
          width: auto !important;
        }
        .result {
          width: auto !important;
        }
      }
    }
  }
  @media screen and (max-width: 720px) {
    &-grid {
      .card {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  @media screen and (max-width: 500px) {
    padding: 5rem 1rem;
    flex-direction: column;

    &-grid {
      margin-top: 2rem;
      width: 100%;

      .title {
        h1 {
          font-size: 1.8rem;
        }
      }

      .line {
        width: auto !important;
      }

      &__content {
        .card {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  &-detail {
    padding: 7rem 7rem;

    @include center__elem;
    justify-content: space-between;
    align-items: flex-start;
    h1 {
      @include heading_font;
      color: $color1;
    }

    .swiper-wrapper {
      width: 0;
    }
    .carousel {
      padding-top: 2rem;
      img {
        border-radius: 5px;
        transition: all 0.5s ease-in-out;

        &:hover {
          transition: all 0.5s ease-in-out;
          transform: scale(1.05);
        }
      }

      &__slider {
        position: relative;
        .navigation {
          @include center__elem;
          justify-content: space-between;
          top: 50%;
          z-index: 34;
          position: absolute;
          width: 100%;

          svg {
            color: $color5;
          }
        }
      }
    }

    &__prop {
      width: 100%;

      .title {
        .headline {
          @include center__elem;
          justify-content: space-between;
        }
        .like {
          border-radius: 50%;
          @include center__elem;
          box-shadow: 0 2px 9px 0 rgb(34 12 43 / 20%);
          padding: 0.5rem;
        }
        h1 {
          @include heading_font;
          color: $color1;
        }
        &__info {
          margin-top: 0.5rem;
          @include center__elem;
          justify-content: flex-start;
          .location,
          .date {
            @include center__elem;
            justify-content: flex-start;
            color: $color5;
            p {
              margin-left: 0.5rem;
              color: gray;
            }
          }

          .date {
            padding-left: 1rem;
          }
        }
      }
      .desc {
        margin: 4rem 0;

        h1 {
          @include heading_font;
          color: $color1;
        }

        p {
          color: gray;
          margin: 1rem 0;
        }
      }
      .detail {
        h1 {
          @include heading_font;
          color: $color1;
        }

        &__content {
          @include center__elem;
          justify-content: space-around;
          width: 50rem;
          border-radius: 5px;
          padding: 2rem;

          box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);

          .item {
            width: 100%;
          }
          .tag {
            margin: 1rem 0;
            @include center__elem;
            justify-content: space-between;
            p {
              width: 100%;
            }
            p:last-child {
              @include center__elem;
              justify-content: flex-start;
              margin-left: 0.5rem;
              @include heading_font;
              // font-weight: ;
              color: $color1;
            }
          }
        }
      }
      .amenity {
        margin: 4rem 0;

        &__content {
          padding: 2rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 1.4rem;

          .item {
            @include center__elem;
            justify-content: flex-start;
            p {
              margin-left: 0.5rem;
            }
          }
        }
      }

    }
    @media screen and (max-width: 1660px) {
      padding: 7rem 5rem;
    }
    @media screen and(max-width: 1450px) {
      .detail {
        &__content {
          width: 100% !important;
        }
      }
      flex-direction: column;
      align-items: center;
      &__contact{
        padding-left: 0 !important;
        @include center__elem;

        .contact__btn{
          width: 20rem;
          border-radius: 4px;
          @include center__elem;
          background: $color5;
          color: $color4;
          padding: .5rem 1rem;
        }
      }
    }
    @media screen and (max-width:850px) {
      padding: 7rem 3rem;
      .detail {
        &__content {
          flex-direction: column;
          width: 100% !important;
        }
      }
      .more{
        margin-top: 1.5rem;
        color: $color5;
        .bar{
          height: .08rem;
          background: $color5;
        }
      }
      
    }

    @media screen and (max-width:725px) {
      .amenity{
        &__content{
          grid-template-columns: repeat(2,1fr);
        }
      }
    }

    @media screen and (max-width:650px) {
      padding: 7rem 1rem 3rem;

      .detail{
        &__content{
          padding: 2rem 1rem !important;
        }
      }
      .amenity{
        &__content{
          padding: 2rem 1rem !important;
        }
      }

      
    }
    @media screen and (max-width:500px) {
      font-size: .9rem;
    }
    &__contact {
      @media screen and (max-width: 850px) {  
        flex-direction: column !important;
        width: 100%;
      }
      padding-left: 5rem;
      
    }
  }
}

.contact__modal{
  // position: relative;
  @include center__elem;
  
  
  &-item{
    height: 100vh;
    padding: 1rem;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 230;
    @include center__elem;
    transform: translate(-50%, -50%) !important;
  }

}

.filter__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  width: 100%;
  @include center__elem;
  height: 100vh;
  z-index: 34;
  backdrop-filter: blur(3px);

  .rokye__property-filter {
    border-radius: 5px;
    .modal__cancel {
      @include center__elem;
      justify-content: flex-end;
    }

    position: relative;
    background-color: white;
    box-shadow: 0 0 1rem black;

    z-index: 400;
  }
}
