.rokye__blog{
    padding: 7rem;
    @include center__elem;
    flex-direction: column;
    &-title{
        
        h1{
            @include heading_font;
            color: $color1;
        }
        .line{
            width:  100%;
            background: $color5 !important;
            height: .16rem;
            border-radius: 1rem;
        }
    }
    &-content{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 2rem;
        width: 100%;
        .card{
            border-radius: 5px;
            cursor: pointer;
            
            img{
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }
            width: 23rem;
            @include card_shadow;


            &__detail{
                padding:  1rem;
                padding-top: .5rem;
                .upper{
                    @include center__elem;
                    justify-content: flex-start;
                    .date{
                        color: $color5;

                    }
                    .divider{
                        height: 1rem;
                        width: .1rem;
                        border-radius: 4px;
                        background-color: $color2 !important;
                        margin: 0 .5rem;
                    }
                    margin-bottom: .5rem;
                }
                h2{
                    @include heading_font;
                    color: $color1;
                }
                .content{
                    margin-top: .5rem;
                    .more{
                        
                        margin-top: .5rem;
                        color: gray;
                    }
                }
            }
        }
    }
}