.rokye {
  &__navbar {
    @include font_light;
    padding: 1rem 5rem;
    position: fixed;
    width: 100%;
    z-index: 23;
    top: 0;

    @include center__elem;
    justify-content: space-between;

    &-logo {
      h1 {
        color: $color5;
      }
      span {
        color: $color1;
      }
    }

    .outer {
      @include center__elem;
    }

    &-mobnav {
      width: 12rem;
      z-index: 2;
      padding: 1rem;
      position: absolute;
      text-align: end;
      right: 2rem;

      background: rgba(255, 255, 255, 0.77);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.02);

      top: 4rem;
      .item {
        cursor: pointer;
        margin-bottom: 1rem;

        &.active {
          color: $color5;
        }
      }

      .register {
        border: 4px;

        width: 100%;
        @include center__elem;
        padding: 0.5rem;
        @include box-color;
      }

      @media screen and (min-width: 1250px) {
        right: 5rem;
      }
    }

    &-tab {
      @include center__elem;
      h3 {
        z-index: 2;
        color: $color1;
        cursor: pointer;
      }
      .sell {
        @include center__elem;
        background: $color5;
        padding: 0.6rem 1rem;
        border-radius: 4px;
        margin: 0 3rem;
        h3 {
          margin-left: 0.4rem;
          color: white;
        }

        @media screen and (max-width: 650px) {
          margin-right: 1rem;
        }
      }
      .active {
        color: $color5 !important;
        border-bottom: 2px solid $color5;
      }

      @media screen and (max-width: 650px) {
        h3 {
          display: none;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      &-nav {
        display: none;
      }
    }

    &.sticky {
      transition: all 0.5s ease-in-out;
      padding: 0.8rem 4rem;
      box-shadow: 0px 0px 7px black;
      background: white;
      z-index: 2;
    }

    @media screen and (max-width: 1250px) {
      padding: 1rem;

      &.sticky {
        padding: 0.8rem 1rem;
      }
    }
  }

  &__card {
    box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
    width: 20rem;
    border-radius: 0.7rem;
    position: relative;

    img {
      width: 100%;
      border-radius: 0.7rem;
    }
    @include center__elem;
    flex-direction: column;
    align-items: flex-start;

    &-img {
      padding: 1rem 1rem 0 1rem;

      img {
        transition: all 0.5s ease-in-out;
        &:hover {
          transition: all 0.5s ease-in-out;
          transform: scale(1.2) !important;
        }
      }
    }

    .favorite {
      top: 0.5rem;
      right: 0.5rem;
      position: absolute;

      svg {
        color: $color1;
      }
    }

    &-detail {
      width: 100%;
      margin-top: 1rem;
      @include center__elem;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;

      h2,
      h3 {
        color: $color1;
        font-family: "lora", sans-serif;
        font-weight: bolder;
        margin-bottom: 0.7rem;
      }
      .additional {
        margin: 0.5rem 0;
        width: 100%;
        @include center__elem;
        justify-content: space-between;

        svg {
          color: $color1;
        }

        p {
          margin-left: 0.5rem;
        }
        &__info {
          @include center__elem;
          .bed,
          .bath {
            @include center__elem;
            // align-items: flex-end;
          }
          .bath {
            margin-left: 0.4rem;
          }
        }
        &__price {
          svg {
            color: $color5;
          }
          p {
            span {
              color: $color5;
            }
            margin-left: 0.2rem;
          }
          @include center__elem;
        }
      }
    }
    .info {
      padding: 0 0 0 1rem;
      @include center__elem;
      justify-content: space-between;
      width: 100%;
      &__city {
        color: gray;
      }

      &__redirect {
        width: 6rem;
        @include center__elem;
        background: rgba($color: $color5, $alpha: 0.3);
        color: $color5;
        border-bottom-right-radius: 0.7rem;
        border-top-left-radius: 0.7rem;
      }
    }
  }

  &__footer {
    background: $color4;

    padding: 10rem 5rem 3rem;
    @include center__elem;
    flex-direction: column;

    &.remove {
      padding: 3rem 5rem;
    }

    .outer {
      width: 100%;
      @include center__elem;
      justify-content: space-between;
      align-items: flex-start;
    }

    p {
      cursor: pointer;
      color: gray;
      margin-top: 1rem;
    }

    h1 {
      @include heading_font;
      color: $color1;
    }

    &-intro {
      h3 {
        @include heading-font;
        color: $color1;
      }
      
    }

    &-address {
      width: 15rem;
      .social {
        margin-top: 2.5rem;
        @include center__elem;
        // padding: 0 5rem;
        justify-content: space-between;
        &__item {
          box-shadow: 1px 1px 5px #d5d5d5;
          svg {
            font-size: 1.5rem;
          }
          background: white;
          @include center__elem;
          border-radius: 50%;
          color: $color2;
          padding: 1.1rem;

          &:hover {
            transition: all 0.4s ease-in-out;
            background: $color5;
            color: white;
          }
        }
      }
    }
    &-info {
      margin-top: 4rem;
      @include center__elem;

      .dot {
        width: 4px;
        height: 4px;
        background: gray;
        border-radius: 50%;
        margin-right: 0.4rem;
      }
      p {
        margin-top: 0;
        text-align: center;
        margin-right: 2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media screen and (max-width: 1250px) {
      padding: 10rem 1rem 3rem;
    }
    @media screen and (min-width: 1000px) and (max-width: 1150px) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: 1000px) {
      .outer {
        flex-direction: column;
      }
      h1 {
        margin-top: 3rem;
      }

      @media screen and (max-width: 640px) {
        padding: 10rem 1rem 1rem;
        &.remove {
          padding: 2rem 1rem;
        }
        &-address {
          width: 100%;

          .social {
            justify-content: space-around;
          }
        }
        &-info {
          flex-direction: column;
          .dot {
            display: none;
          }
          p {
            margin-top: 1rem;
            margin-right: 0;
          }
        }
      }
    }
  }

  // contact form

  &__form {
    padding: 2rem;
    border-radius: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 30rem;
    // color: $color1;
    @include center__elem;
    background: white;
    flex-direction: column;
    position: relative;

    &-header {
      width: 100%;

      .cancel {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        @include center__elem;
        justify-content: flex-end;
      }
      .title {
        @include center__elem;
        justify-content: space-between;
        h2 {
          @include heading_font;
          color: $color5;

          span {
            color: $color1;
          }
        }

        .social {
          @include center__elem;
          &__item {
            color: $color2;
            padding: 0.5rem;
            @include center__elem;
            border-radius: 50%;
            box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
            margin-left: 0.5rem;

            &:hover {
              transition: all 0.5s ease-in-out;
              background: $color5;
              color: $color4;
            }
          }
        }
      }

      .mail {
        margin-top: 1rem;
        @include center__elem;
        justify-content: flex-start;
        color: gray;

        a {
          color: inherit;
          margin-left: 0.4rem;
          text-decoration: none;
        }
      }
    }
    .divider {
      background: rgb(179, 179, 179);
      height: 0.05rem;
      width: 100%;
      margin: 1rem 0;
    }

    &-content {
      width: 100%;

      .choose {
        position: relative;
        @include center__elem;
        flex-direction: column;
        align-items: flex-start;

        &__title {
          @include center__elem;
          justify-content: space-between;
          padding: 1rem;
          width: 100%;
          border-radius: 5px;
          border: 1px solid gray;
        }
        
        &__option {
          top: 3rem;
          background: white;
          z-index: 23;
          @include center__elem;
          flex-direction: column;
          width: 100%;
          border: 1px solid gray;
          border-radius: 5px;
          // box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
          position: absolute;

          .item {
            width: 100%;
            padding: 1rem;

            &:hover {
              transition: all 0.5s ease-in-out;
              background: rgb(176, 176, 176);
            }
          }
        }
      }

      &__item {
        .MuiOutlinedInput-notchedOutline {
          border-color: gray !important;
          box-shadow: none;
        }
        .Mui-focused {
          color: $color5 !important;
        }
        margin-top: 1.2rem;

        input {
          color: $color1;
        }
      }

      textarea {
        color: $color1;
      }

      .agree {
        @include center__elem;
        justify-content: flex-start;
        margin: 1rem 0;

        // check color
        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
          color: $color5;
        }
        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
          padding: 0;
        }
        .css-zun73v.Mui-checked {
          color: $color5 !important;
        }
        .css-zun73v {
          padding: 0 !important;
        }
        p {
          margin-left: 0.5rem;
        }

        a {
          color: $color5;
        }
      }

      .submit {
        width: 100%;
        @include center__elem;
        // box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
        background: $color5;
        border-radius: 5px;
        padding: 0.7rem 1rem;
        color: $color4;
      }
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      padding: 2rem 1rem;
    }
  }
}
