.rokye {
  &__navbar {
    @include font_light;
    padding: 1rem;
    @include center__elem;
    justify-content: space-between;

    &-logo {
      h1 {
        color: $color5;
      }
      span {
        color: $color1;
      }
    }

    .outer {
      @include center__elem;
    }

    &-nav { //exclude
      @include center__elem;
      justify-content: space-between;

      .item {
        color: #035941;
        margin-right: 2rem;
        cursor: pointer;
        @include center__elem;
        flex-direction: column;

        &__indicator {
          border-radius: 50%;
          width: 0.5rem;
          height: 0.5rem;
          background: $color5;
        }
        &.active {
          color: $color5;
        }
      }
    }

    &-mobnav {
      z-index: 2;
      padding: 1rem;
      position: absolute;
      text-align: end;
      right: 2rem;
      
      background: rgba(255, 255, 255, 0.77);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.02);

      top: 4rem;
      .item {
        cursor: pointer;
        margin-bottom: 1rem;

        &.active{
          color: $color5;
        }
      }

      .register {
        border: 4px;
        // padding: .4rem 1rem;
        width: 8rem;
        @include center__elem;
        padding: 0.5rem;
        @include box-color;
      }
    }

    &-tab{
      
      @include center__elem;
      h3{
        z-index: 2;
        color: $color1;
        cursor: pointer;
        margin-right: 4rem;

      }
      .active{
        color: $color5 !important;
        border-bottom: 2px solid $color5;
      }

      @media screen and (max-width:650px) {
        h3{
          display: none;
        }
      }
    }

    &-btn { //exlcude
      border: 4px;
      // padding: .4rem 1rem;
      width: 8rem;
      @include center__elem;
      padding: 0.5rem;
      @include box-color;
    }

    @media screen and (max-width: 1000px) {
      &-nav {
        display: none;
      }
    }
  }
}
