@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
body {
  // background-color: #F2F2F2;
  background: white;
}
$color1: #114040;
$color2: #035941;
$color3: #f2ba52;
$color4: #f2f2f2;
$color5: #f25c05;

@mixin center__elem {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
@mixin font_light {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

@mixin heading_font {
  font-family: "lora", sans-serif;
  font-weight: bolder;
}

@mixin box-color {
  background: #f25c05;
  color: white;
  border: 1px solid #f25c05;
  border-radius: 3px;

  &:hover {
    background: white;
    color: #f25c05;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
}

@mixin custom__track {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
  box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
}
.css-igs3ac {
  border: none !important;
  outline: none !important;
  box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%) !important;
}
.Mui-focused {
  color: $color5 !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: $color5;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0;
}
.css-zun73v.Mui-checked {
  color: $color5 !important;
}
.css-zun73v {
  padding: 0 !important;
}

@mixin box_shadow {
  box-shadow: 0 2px 9px 0 rgb(34 12 43 / 10%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@mixin card_shadow {
  box-shadow: 0 0.125rem 0.5rem -0.25rem rgb(31 27 45 / 12%), 0 0.25rem 1rem rgb(31 27 45 / 12%) !important;
}