
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;

}
body{
  // background-color: #F2F2F2;
  background: white;
}
$color1: #114040;
$color2: #035941;
$color3: #F2BA52;
$color4: #F2F2F2;
$color5: #F25C05;


@mixin center__elem {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin font1 { 
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}
@mixin font_light {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;

}

@mixin heading_font {
  font-family: 'lora', sans-serif;
  font-weight: bolder;
}

@mixin box-color {
  background: #F25C05;
  color: white;
  border: 1px solid #F25C05;
  border-radius: 3px;

  &:hover{
    background: white;
    color: #F25C05;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }
}